body {
  background-image: url(../images/bg-main.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
  padding: 0 20px 0 20px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6157D4;
  width: 100%;
}

#regions {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  outline: none;
}

.city-list {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  outline: none;
  background-color: #EEE;
  border-radius: 100px;
  padding: 10px 25px;
  font-weight: normal;
  display: block;
  color: #777;
  cursor: pointer;
}

.btnmenu {
  display: flex;
  font-family: 'Rubik', sans-serif;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  padding: 10px 25px;
  margin: 0 5px;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  background: #7fa919;
  color: #FFF;
  border-radius: 100px;
}

.aboutText {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  padding: 0 20px 0 20px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6157D4;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
}

.aboutPhone,
.head_email {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  padding: 10px 25px;
  margin: 0 5px;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  background: #7fa919;
  color: #FFF;
  border-radius: 100px;
  transition: all 500ms ease;
}

.aboutPhone:hover,
.head_email:hover {
  scale: 110%;
}

.yandexmap {
  margin: 20px 5px 20px 5px;
}

.userImage {
  width: 250px;
  height: 300px;
}

.profileContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
}

.profileTitle {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  padding: 10px 25px;
  margin: 0 5px;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
}

.babaralist {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  height: 500px;
  width: 350px;
}

.drug-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}